.card-header {
    background-color: orange;
}

.btn {
    background-color: orange;
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.wall {
    background-color: rgb(241, 241, 241);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

.form-label-nd {
    margin-top: 18px;
    text-align-last: right;
    padding-right: 34px;
}

.input-serie {
    margin-top: 10px;
    padding-right: 20px;
}

.validations-nd {
    text-align-last: left;
}